<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{place.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-content-theme" style="background-color: white !important">

  <div class="wrapper" style="height: 200px" (click)="openGallery()">
    <img style="width: 100%; height: 200px;" [src]="place.image_url">
    <div class="overlay"></div>
    <div style="display: inline">
      <span class="title">
        <img style="height: 40px; margin-right:5px; border-radius: 50%;" [src]="place.logo_url">
        {{place.name}}
      </span>
      <ion-icon class="gallery" ios="md-images" md="md-images"></ion-icon>
    </div>
  </div>

  <!-- Description -->
  <div class="description">
    {{place.summary}}
  </div>
  <!--/ Description -->

  <!-- Address Map -->
  <img [src]="mapUrl">
  <div class="address">{{place.address}} - {{place.neighborhood.name}}</div>
  <div class="uber-button">
    <a ion-button default block color="dark" icon-left href="https://m.uber.com/ul/?client_id=tGQeLkvrxnm4KicaOCE_8gvzQ6TPeS6i&action=setPickup&pickup=my_location&dropoff[latitude]=-8.032149&dropoff[longitude]=-34.919608&dropoff[nickname]=Ubaias&dropoff[formatted_address]=Estrada%20das%20Ubaias%2C%20456%20-%20Casa%20Forte">
      <img src="assets/icon/uber-logo.png" style="width: 25px; margin-right: 5px;">
      Pedir um Uber
    </a>
  </div>
  <hr />
  <!--/ Address Map -->

  <!-- Schedules -->
  <div class="section-title">Horário de Funcionamento</div>
  <div
    class="opening-hours"
    *ngFor="let schedule of place.schedules"
    [ngClass]="{'current-day': schedule.day == today}">

    <span>{{ schedule.day_of_week }}</span>
    <span class="hour">{{ schedule.operating_hour }}</span>
  </div>
  <hr />
  <!--/ Schedules -->

  <!--Restaurants -->
  <div class="section-title">Unidades</div>

  <button
    ion-item
    *ngFor="let restaurant of place.restaurants"
    (click)="openRestaurant(restaurant)">

    <ion-avatar item-left>
      <img [src]="restaurant.franchise.logo_url">
    </ion-avatar>
    <h4>{{ restaurant.name }}</h4>
    <span class="restaurant-subtitle">{{ restaurant.slogan }}</span>

  </button>
  <!--/ Restaurants -->

</ion-content>
