page-category {

  ion-card {
    margin: 5px 5px 5px 5px;
    width: calc(100% - 10px);
  }

  ion-card img {
    width: auto;
  }

  .wrapper button {
    background-color: rgba(0,0,0,0.4);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 50%;
  }

  .opening {
    // bottom: 2%;
    // left: 0;
    // margin-left: 55px;
    font-size: 9px;
    color: white;
    // position: absolute;
    padding: 1px 2px 1px 2px;
    border-radius: 2px;
  }

  .open {
    // background-color: green;
    background-color: #0A701C;
  }

  .close {
    // background-color: red;
    background-color: #AC0202;
  }

}