<ion-header>
  <ion-navbar color="primary">
    <ion-title>Recife Gourmet</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="ion-content-theme">

  <ion-spinner class="center-spinner" *ngIf="showLoading"></ion-spinner>

  <div (click)="reload()" [hidden]="!showReload" class="center-reload">
    <ion-icon color="reload" class="center" name="refresh"></ion-icon>
    <br />
    <span ion-text color="reload">Falha ao carregar o conteúdo.<br />Clique para tentar novamente.</span>
  </div>

  <ion-card
    *ngFor="let highlight of highlights"
    (click)="openHighlight(highlight)"
    [hidden]="!showContent">

    <div class="wrapper" style="height: 200px;">
      <img class="highlight-image" [src]="highlight.image_url">
      <div class="overlay"></div>
      <div>
        <span class="title">
          <span class="highlight-title">{{highlight.title}}</span>
          <br>
          <span class="highlight-headline">{{highlight.headline}}</span>
        </span>
      </div>
    </div>
  </ion-card>

</ion-content>
