page-home {

  ion-card {
    margin: 3px 3px 3px 3px !important;
    width: calc(100% - 6px) !important;
  }

  .highlight-image {
    height: 200px;
    width: 100%;
  }

  .highlight-title {
    font-size: 22px;
  }

  .highlight-headline {
    font-size: 11px;
  }
}
