<ion-header>
  <ion-navbar color="primary">

    <ion-title>Categorias</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="ion-content-theme">

  <ion-spinner class="center-spinner" *ngIf="showLoading"></ion-spinner>

  <div (click)="reload()" [hidden]="!showReload" class="center-reload">
    <ion-icon color="reload" class="center" name="refresh"></ion-icon>
    <br />
    <span ion-text color="reload">Falha ao carregar o conteúdo.<br />Clique para tentar novamente.</span>
  </div>

  <ion-grid class="ion-grid-padding">
    <ion-row class="ion-row">
      <ion-col
        col-6
        class="ion-col"
        *ngFor="let category of categories"
        (click)="openCategory(category)">
        <img width="100%" [src]="category.image_url" class="img-border-radius">
      </ion-col>
      <!--<ion-col col-6 *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]" class="ion-col">
        <img width="100%" src="http://lorempixel.com/400/400/food/{{i}}/" class="img-border-radius">
      </ion-col>-->
    </ion-row>
  </ion-grid>

</ion-content>
